/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 30px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo {
  width: 50px;
  padding: 16px;
  vertical-align: middle;
}

.more-v-space { 
  margin-top:60px; 
}

.even-more-v-space { 
  margin-top:100px; 
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.blue-bkg {
  background-color: blue;
  color: white;
}

.green-bkg {
  background-color: green;
  color: white;
}