/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 30px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.f5-logo {
  width: 46px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 16px;
  vertical-align: middle;
}

.blue-green-logo {
  width: 70px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 16px;
  vertical-align: middle;
}

.v-space { 
  margin-top: 30px; 
}

.more-v-space { 
  margin-top: 60px; 
}

.even-more-v-space { 
  margin-top: 100px; 
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.blue-bkg {
  background-color: blue;
  color: white;
}

.green-bkg {
  background-color: green;
  color: white;
}
