<!--The content below is only a placeholder and can be replaced.-->
<ng-http-loader></ng-http-loader>
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<form>
  <div class="flex-container selector-container">
    <div class="wide-container">
      <mat-form-field>
        <input matInput 
        placeholder="Declaration Name" 
        id="declarationName" 
        name="declarationName" 
        #declarationName="ngModel" 
        [(ngModel)]="declarationNameText" 
        [ngModelOptions]="{ updateOn: 'blur' }" 
        uniqueDeclarationName>
      </mat-form-field>
      <div *ngIf="declarationName.pending">Validating...</div>
      <div *ngIf="declarationName.invalid">
        <div *ngIf="declarationName.errors?.uniqueDeclarationName">
          Declaration name is already taken.
        </div>
      </div>
    </div>
    <div>
      <h4>Partition</h4>
      <mat-form-field>
        <mat-select matNativeControl required [(ngModel)]="selectedPartition" (ngModelChange)="loadVirtualServersAndPools($event)"
          name="selectedPartition">
          <mat-option *ngFor="let partition of partitions" [value]="partition">
            {{partition}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <h4>Virtual Server</h4>
      <mat-form-field>
        <mat-select matNativeControl required [(ngModel)]="selectedVirtualServer" name="selectedVirtualServer">
          <mat-option *ngFor="let virtualServer of partitionVirtualServers" [value]="virtualServer">
            {{virtualServer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="more-v-space">
      <h4 class="blue">Blue Pool</h4>
      <mat-form-field>
        <mat-select matNativeControl required [(ngModel)]="bluePool" name="bluePool">
          <mat-option *ngFor="let pool of partitionPools" [value]="pool">
            {{pool.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="more-v-space">
      <h4 class="green">Green Pool</h4>
      <mat-form-field>
        <mat-select matNativeControl required [(ngModel)]="greenPool" name="greenPool">
          <mat-option *ngFor="let pool of partitionPools" [value]="pool">
            {{pool.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="wide-container even-more-v-space">
    <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Traffic distribution" [(ngModel)]="newTrafficDist" name="newTrafficDist">
      </mat-form-field> -->
    <h4>Traffic Distribution</h4>
    <mat-slider name="currentTrafficDist" [(ngModel)]="newTrafficDist" tickInterval="1"></mat-slider>
    <div class="flex-container">
      <span class="flex-item blue-bkg">
        <div class="huge-font">{{100-newTrafficDist}}%</div>{{bluePool?.name}}
      </span>
      <span class="flex-item green-bkg">
        <div class="huge-font">{{newTrafficDist}}%</div>{{greenPool?.name}}
      </span>
    </div>
    <div class="more-v-space">
      <button mat-raised-button color="basic" (click)="onCreate()">Create</button>
    </div>
    <div class="more-v-space">
      <button mat-raised-button color="basic" (click)="onDelete()">Delete</button>
    </div>
  </div>
</form>
